/* Navbar.css */
.off-canvas {
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 0.3s ease, transform 0.3s ease;
  }
  
  .off-canvas.show {
    opacity: 1;
    transform: translateX(0);
  }
  